{
  "version": "2017-02-28",
  "operation": "Scan",
  "filter": {
    "expression": "#owner = :userId",
    "expressionNames": {
      "#owner": "owner"
    },
    "expressionValues": {
      ":userId": $util.dynamodb.toDynamoDBJson($ctx.identity.sub)
    }
  }
}