
* text=auto eol=lf
/.gitattributes linguist-generated
/.gitignore linguist-generated
/.npmignore linguist-generated
/.projen/** linguist-generated
/.projen/tasks.json linguist-generated
/LICENSE linguist-generated
/package.json linguist-generated
/test/tsconfig.json linguist-generated linguist-language=JSON-with-Comments
/tsconfig.json linguist-generated linguist-language=JSON-with-Comments
/yarn.lock linguist-generated